<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main content -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <!-- left-side div  -->
          <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  class="img-fluid"
                  src="images/WhatsApp Image 2023-12-26 at 11.19.12 AM.jpeg"
                  alt="Still loading"
                  title="Abhishek Dutta"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to the weather app</p>
              <h2>I am a<span> MERN STACK DEVELOPER</span> of NITD</h2>
              <a href="/about"><button>About Me</button></a>
            </div>
            <!-- right-side div  -->
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
